USE [master]
GO
/****** Object:  Database [DEVWIFI18ED]    Script Date: 18/07/2021 20:11:28 ******/
CREATE DATABASE [DEVWIFI18ED]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEVWIFI18ED].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEVWIFI18ED]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[codcliente] [int] IDENTITY(1,1) NOT NULL,
	[codtipo] [int] NOT NULL,
	[numdoc] [varchar](15) NOT NULL,
	[tipo_cliente] [char](1) NOT NULL,
	[nombres] [varchar](100) NULL,
	[ape_paterno] [varchar](70) NULL,
	[ape_materno] [varchar](70) NULL,
	[sexo] [char](1) NULL,
	[fec_nacimiento] [date] NULL,
	[razon_social] [varchar](300) NULL,
	[fec_inicio] [date] NULL,
	[direccion] [varchar](300) NOT NULL,
	[email] [varchar](254) NOT NULL,
	[codzona] [int] NOT NULL,
	[estado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrato]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato](
	[codplan] [int] NOT NULL,
	[codcliente] [int] NOT NULL,
	[fec_contrato] [date] NOT NULL,
	[fec_baja] [date] NULL,
	[periodo] [char](1) NOT NULL,
	[preciosol] [decimal](9, 2) NOT NULL,
	[iprouter] [varchar](15) NULL,
	[ssis_red_wifi] [varchar](100) NULL,
	[fec_registro] [datetime] NOT NULL,
	[fec_ultactualiza] [datetime] NULL,
	[estado] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanInternet]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanInternet](
	[codplan] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precioref] [decimal](9, 2) NOT NULL,
	[descripcion] [varchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[tipo] [varchar](4) NOT NULL,
	[numero] [varchar](20) NOT NULL,
	[estado] [bit] NOT NULL,
	[codcliente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[codtipo] [int] IDENTITY(1,1) NOT NULL,
	[tipo_sunat] [char](2) NOT NULL,
	[desc_larga] [varchar](100) NOT NULL,
	[desc_corta] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[codubigeo] [int] IDENTITY(1,1) NOT NULL,
	[cod_dpto] [char](2) NOT NULL,
	[cod_prov] [char](2) NOT NULL,
	[cod_dto] [char](2) NOT NULL,
	[nom_dpto] [varchar](100) NOT NULL,
	[nom_prov] [varchar](100) NOT NULL,
	[nom_dto] [varchar](150) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zona]    Script Date: 18/07/2021 20:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zona](
	[codzona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
	[codubigeo] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([codcliente], [codtipo], [numdoc], [tipo_cliente], [nombres], [ape_paterno], [ape_materno], [sexo], [fec_nacimiento], [razon_social], [fec_inicio], [direccion], [email], [codzona], [estado]) VALUES (1, 3, N'79918073966', N'E', NULL, NULL, NULL, NULL, NULL, N'EMPRESA 1', CAST(N'2010-09-26' AS Date), N'URB. LOS CIPRESES M-25', N'CONTACTO@EMPRESA1.PE', 10, 1)
INSERT [dbo].[Cliente] ([codcliente], [codtipo], [numdoc], [tipo_cliente], [nombres], [ape_paterno], [ape_materno], [sexo], [fec_nacimiento], [razon_social], [fec_inicio], [direccion], [email], [codzona], [estado]) VALUES (2, 3, N'71299786066', N'E', NULL, NULL, NULL, NULL, NULL, N'EMPRESA 2', CAST(N'2000-11-10' AS Date), N'AV. BRASIL 840 BREÑA', N'CONTACTO@EMPRESA2.PE', 8, 1)
INSERT [dbo].[Cliente] ([codcliente], [codtipo], [numdoc], [tipo_cliente], [nombres], [ape_paterno], [ape_materno], [sexo], [fec_nacimiento], [razon_social], [fec_inicio], [direccion], [email], [codzona], [estado]) VALUES (3, 3, N'27881074660', N'E', NULL, NULL, NULL, NULL, NULL, N'EMPRESA 3', CAST(N'1991-12-23' AS Date), N'ML. TIERRAS BLANCAS S/N', N'CONTACTO@EMPRESA3.PE', 9, 1)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[PlanInternet] ON 

INSERT [dbo].[PlanInternet] ([codplan], [nombre], [precioref], [descripcion]) VALUES (1, N'PLAN TOTAL I', CAST(50.00 AS Decimal(9, 2)), N'Plan anterior ESTANDAR I')
INSERT [dbo].[PlanInternet] ([codplan], [nombre], [precioref], [descripcion]) VALUES (2, N'PLAN TOTAL II', CAST(60.00 AS Decimal(9, 2)), N'Plan anterior ESTANDAR II')
INSERT [dbo].[PlanInternet] ([codplan], [nombre], [precioref], [descripcion]) VALUES (3, N'GOLD I', CAST(70.00 AS Decimal(9, 2)), N'Plan nuevo')
SET IDENTITY_INSERT [dbo].[PlanInternet] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([codtipo], [tipo_sunat], [desc_larga], [desc_corta]) VALUES (1, N'01', N'LIBRETA ELECTORAL O DNI', N'L.E / DNI')
INSERT [dbo].[TipoDocumento] ([codtipo], [tipo_sunat], [desc_larga], [desc_corta]) VALUES (2, N'04', N'CARNET DE EXTRANJERIA', N'CARNET EXT.')
INSERT [dbo].[TipoDocumento] ([codtipo], [tipo_sunat], [desc_larga], [desc_corta]) VALUES (3, N'06', N'REG. UNICO DE CONTRIBUYENTES', N'RUC')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[Ubigeo] ON 

INSERT [dbo].[Ubigeo] ([codubigeo], [cod_dpto], [cod_prov], [cod_dto], [nom_dpto], [nom_prov], [nom_dto]) VALUES (1, N'15', N'08', N'01', N'LIMA', N'HUAURA', N'HUACHO')
INSERT [dbo].[Ubigeo] ([codubigeo], [cod_dpto], [cod_prov], [cod_dto], [nom_dpto], [nom_prov], [nom_dto]) VALUES (2, N'15', N'08', N'02', N'LIMA', N'HUAURA', N'AMBAR')
INSERT [dbo].[Ubigeo] ([codubigeo], [cod_dpto], [cod_prov], [cod_dto], [nom_dpto], [nom_prov], [nom_dto]) VALUES (3, N'15', N'08', N'03', N'LIMA', N'HUAURA', N'CALETA DE CARQUIN')
SET IDENTITY_INSERT [dbo].[Ubigeo] OFF
GO
SET IDENTITY_INSERT [dbo].[Zona] ON 

INSERT [dbo].[Zona] ([codzona], [nombre], [estado], [codubigeo]) VALUES (1, N'HUACHO-I', 1, 1)
INSERT [dbo].[Zona] ([codzona], [nombre], [estado], [codubigeo]) VALUES (2, N'HUACHO-II', 1, 1)
INSERT [dbo].[Zona] ([codzona], [nombre], [estado], [codubigeo]) VALUES (3, N'HUACHO-III', 1, 1)
SET IDENTITY_INSERT [dbo].[Zona] OFF
GO
/****** Object:  Index [PK8]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [PK8] PRIMARY KEY NONCLUSTERED 
(
	[codcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK10]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[Contrato] ADD  CONSTRAINT [PK10] PRIMARY KEY NONCLUSTERED 
(
	[codplan] ASC,
	[codcliente] ASC,
	[fec_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK2]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[PlanInternet] ADD  CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[codplan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK9]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[Telefono] ADD  CONSTRAINT [PK9] PRIMARY KEY NONCLUSTERED 
(
	[tipo] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK6]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[TipoDocumento] ADD  CONSTRAINT [PK6] PRIMARY KEY NONCLUSTERED 
(
	[codtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK5]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[Ubigeo] ADD  CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[codubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK7]    Script Date: 18/07/2021 20:11:33 ******/
ALTER TABLE [dbo].[Zona] ADD  CONSTRAINT [PK7] PRIMARY KEY NONCLUSTERED 
(
	[codzona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [RefTipoDocumento3] FOREIGN KEY([codtipo])
REFERENCES [dbo].[TipoDocumento] ([codtipo])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [RefTipoDocumento3]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [RefZona4] FOREIGN KEY([codzona])
REFERENCES [dbo].[Zona] ([codzona])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [RefZona4]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [RefCliente8] FOREIGN KEY([codcliente])
REFERENCES [dbo].[Cliente] ([codcliente])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [RefCliente8]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [RefPlanInternet7] FOREIGN KEY([codplan])
REFERENCES [dbo].[PlanInternet] ([codplan])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [RefPlanInternet7]
GO
ALTER TABLE [dbo].[Telefono]  WITH CHECK ADD  CONSTRAINT [RefCliente6] FOREIGN KEY([codcliente])
REFERENCES [dbo].[Cliente] ([codcliente])
GO
ALTER TABLE [dbo].[Telefono] CHECK CONSTRAINT [RefCliente6]
GO
ALTER TABLE [dbo].[Zona]  WITH CHECK ADD  CONSTRAINT [RefUbigeo2] FOREIGN KEY([codubigeo])
REFERENCES [dbo].[Ubigeo] ([codubigeo])
GO
ALTER TABLE [dbo].[Zona] CHECK CONSTRAINT [RefUbigeo2]
GO
USE [master]
GO
